<html>

<head>
    <link rel='stylesheet' href='./css/styles.css'>
    <script src='./js/test.js'></script>
</head>

<body>
    <!--using partials -->
    {{>header}}

    <h1>hey this is from dynamic HTML file</h1>
    <h2>{{helpMessage}}</h2>

    {{>footer}}
</body>

</html>