<html>

<head>
    <link rel='stylesheet' href='./css/styles.css'>

</head>

<body>
    <!--using partials -->
    {{>header}}



    <h1>hey this is from dynamic HTML file</h1>
    <h2>{{title}}<br>{{name}}</h2>


    <form>
        <input type="text" placeholder="Location">
        <button>search</button>
    </form>

    {{>footer}}
    <script src='./js/test.js'></script>
</body>

</html>