<html>

<head>
    <link rel='stylesheet' href='./css/styles.css'>

</head>

<body>
    <!--using partials -->
    {{>header}}



    <h1>Weather Report</h1>
    <h2>Temperature: {{forecast}}<br>
        Location:{{location}}<br>
        address:{{address}}</h2>




    {{>footer}}
    <script src='./js/test.js'></script>
</body>

</html>